<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/basic.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/color.css">
    <link rel="stylesheet" href="../../static/css/star.css">
</head>
<body class="kuro_bc">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">億個人的小宇宙</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
                aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index/">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/host/">直播主</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/">觀看者</a>
                    </li>
                </ul>
                <form role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
    <div class="star"></div>
    <main>
        <div class="i_wrap_login_btn">
            <a href="/host/" ><button class="i_login shiro_bs" id="i_host"><img class="btn_icon" src="../../static/img/logo.ico"><br><p class="h4">直播主登入</p></img></button></a>
            <a href="/client/" ><button class="i_login shiro_bs" id="i_client"><img class="btn_icon" src="../../static/img/logo.ico"><br><p class="h4">觀看者登入</p></img></button></a>
        </div>
        
    </main>
    <footer class="shiro_bc shiro_bs">
        <div class="ft_container">
            <div class="ft_logo">
                <div class="ft_img_c">
                    <img class="ft_img" src="../../static/img/logo.ico">  
                </div>
                <p class="h6 ft_word">億個人的小宇宙</p>
            </div>
            <div>
                <p style="font-size:16px;margin:0;">©億個人的小宇宙 2023</p>
            </div>
            <div class="ft_ic_c">
                <i class="fa-brands fa-facebook fa-xl"></i>
                <i class="fa-brands fa-instagram fa-xl"></i>
                <i class="fa-solid fa-envelope fa-xl"></i>
            </div>
        </div>
    </footer>
</body>
<script src="../../static/js/star.js"></script>
</html>