<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>host</title>
    {% load static %}
    {% load my_filters %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/basic.css">
    <link rel="stylesheet" href="../../static/css/stream.css">
    <link rel="stylesheet" href="../../static/css/color.css">
    <link rel="stylesheet" href="../../static/css/star.css">
  
</head>

<body class="kuro_bc">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index/">億個人的小宇宙</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
                aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/index/">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" href="/host/">直播主</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/">觀看者</a>
                    </li>
                    
                </ul>
                <form role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
    <div class="star"></div>
    <main>
        <div class="back">
            <a href="/host/"><button type="button" class="back_btn shiro_bs"><i class="fa-solid fa-caret-left fa-2xl"></i></button></a>
        </div>
        <!--主要影片區-->
        <div class="h_streams">
            
            <div class="h_video l_ao_bd">
                <video class="each_v"id="user" autoplay playsinline>
                </video>
                <div class="v_ctrl">
                    <button type="button" class="v_btn shiro_bs">
                        <i class="fa-solid fa-gear fa-lg"></i>
                    </button>
                    <button class="shiro_bs" id="mic_btn"><i class="fa-solid fa-microphone fa-lg"></i></button>
                    <button class="shiro_bs" id="camera_btn"><i class="fa-solid fa-video fa-lg"></i></button>
                    <button type="button" class="v_btn shiro_bs"data-bs-toggle="modal" data-bs-target="#LinkModal">
                        <i class="fa-solid fa-link fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>       
        <!--留言區-->
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                function checkForNewNotifications() {
                    $.get("/check_ns/", function(data) {
                        if(data.new_notifications) {
                            var message = data.message;  // 從伺服器的回應中獲取訊息
                            $('#chatBox').append('<div class="message">' + message + '</div>');
                            alert("有觀眾有問題！");
                            location.reload();  // 重新整理頁面
                        }
                    }).fail(function() {
                        console.error("錯誤在檢查通知。將在5秒後再試。");
                    });
                }
        
                setInterval(checkForNewNotifications, 5000);
            });
        </script>
        

        
        <div class="h_comment">
            <div class="h_messages l_ao_bd shiro_f l_ao_bs">
                <p class="mes_tit l_ao_f">即時聊天室 </p>
                <!--<ul id="messages"></ul>-->
                {% for mes in mess %}
                <div>
                    <p class="mes_name">
                        使用者問題:{{ mes.message }}
                    </p>
                </div>
            {% endfor %}
            
                <div id="chat-display" class="mes_name"></div>
            </div>
            <div class="h_typing l_ao_bd">
                <form class="type_area">
                    <textarea rows="2" class="txtarea kuro_bc shiro_f" placeholder="輸入留言..."></textarea>
                    <hr class="type_hr">
                    <input type="submit" value="傳送" class="txt_btn shiro_bs l_ao_f">
                </form>
            </div>
        </div>
        
    </main>
    <!-- 新增連結 -->
    <div class="modal fade" id="LinkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content kuro_bc shiro_f">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增連結</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <p class="modal_p">連結說明</p>
                        <textarea rows="5" class="modal_txt" placeholder="輸入連結說明..."></textarea>
                        <p class="modal_p">連結網址</p>
                        <input type="text" class="modal_txt" placeholder="輸入連結網址...">
                        <p class="modal_p">上傳圖片</p>
                        <input type="file" accept="image/*">
                        <input type="submit" class="v_btn modal_btn" value="完成">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="shiro_bc shiro_bs">
        <div class="ft_container">
            <div class="ft_logo">
                <div class="ft_img_c">
                    <img class="ft_img" src="../../static/img/logo.ico">  
                </div>
                <p class="h6 ft_word">億個人的小宇宙</p>
            </div>
            <div>
                <p style="font-size:16px;margin:0;">©億個人的小宇宙 2023</p>
            </div>
            <div class="ft_ic_c">
                <i class="fa-brands fa-facebook fa-xl"></i>
                <i class="fa-brands fa-instagram fa-xl"></i>
                <i class="fa-solid fa-envelope fa-xl"></i>
            </div>
        </div>
    </footer>
</body>
<script src='../static/js/host.js'></script>
</html>