/*background*/
.shiro_bc{
    background-color: white;
}
.kuro_bc{
    background-color: #232323;
}
.d_ao_bc{
    background-color: #0008FF;
}
.l_ao_bc{
    background-color: #15B0FE;
}
.murasaki_bc{
    background-color: #be3dff;
}
.ki_bc{
    background-color: #ECCF68;
}
.midori_bc{
    background-color: #25FFEA;
}
/*font*/
.shiro_f{
    color: white;
}
.kuro_f{
    color: black;
}
.d_ao_f{
    color: #0008FF;
}
.l_ao_f{
    color: #15B0FE;
}
.murasaki_f{
    color: #be3dff;
}
.ki_f{
    color: #ECCF68;
}
.midori_f{
    color:#25FFEA
}
/*border*/
.shiro_bd{
    border-color: white;
}
.d_ao_bd{
    border-color: #0008FF;
}
.l_ao_bd{
    border-color: #15B0FE;
}
.ki_bd{
    border-color: #ECCF68;
}
.murasaki_bd{
    border-color: #be3dff;
}
.midori_bd{
    border-color: #25FFEA;
}
/*text-shadow*/

/*box-shadow*/
.ki_bs{
    box-shadow:0 0 5px #ECCF68;
}
.shiro_bs{
    box-shadow: 0 0 5px white;
}
.d_ao_bs{
    box-shadow:0 0 5px #0008FF;
}
.l_ao_bs{
    box-shadow: 0 0 5px #15B0FE;
}
.murasaki_bs{
    box-shadow:0 0 5px #be3dff;
}
.midori_bs{
    box-shadow: 0 0 5px #25FFEA;
}